.jump-menu {
  display: flex;
  gap: 20px;
}

input {
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  max-width: 50%;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .message {
    width: 50%;
    border-radius: 10px;
    min-height: 100px;
    color: black;
    padding: 10px;
    transform: translateY(-20px);
    opacity: 0;
    animation: moveDown 0.5s ease forwards;

    &.self {
      align-self: flex-end;
      background: lightblue;
    }

    &.other {
      align-self: flex-start;
      background: lightgreen;
    }
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
